<meta charset="utf-8">

{% include seo.html %}

<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="assets/css/main.css">

<!-- Favicons and web app manifest -->
<link rel="icon" href="/favicon.ico">
<link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="192x192" href="/images/web-app-manifest-192x192.png">
<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
<link rel="mask-icon" href="/images/favicon.svg" color="#5bbad5">
<link rel="manifest" href="/images/site.webmanifest">
<meta name="theme-color" content="#ffffff">

<meta http-equiv="cleartype" content="on">
<head>
  <base target="_blank">
</head>